__pycache__/
runs/
*.csv
.neptune/
dataset_split/
dataset/
experiments/
i20210407_015207_ds/
jervis_target_images/
jervis_target_unvignetted_imgs/
large_jervis_dataset_combined/
large_jervis_dataset_split/
